@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Source+Code+Pro:wght@300&display=swap');
html {
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
header {
    background-color: #052844;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* margin-bottom: 120px; */
    /* margin: 0%; */
}

h1 {
    margin: 0px;
    font-size: 60px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #052844;;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
  }
footer p {
    margin: 0;
    font-size: 15pt;
}
.game {
    /* background-color: #262940; */
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    /* width: 500px;
    height: 500px; */
    
}
.controls {
    /* margin-left: 30px; */
    display: flex;
    gap: 20px;
    margin-top: 20px;
    /* float: right; */
}
button {
    background: #052844;
    width: 160px;
    height: 70px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-size: 25pt;
    font-weight: bold;
    margin-left: 60px;
    /* margin-top: 10px; */
    /* margin-right: 50px; */
}
button:hover{
    background:#0d3c62;
}
.disabled {
    background-color: #0d3c62
}
.mt {
    color: #052844;
    font-size: 20pt;
    font-weight: bold;
    
}
.board-container {
    position: relative;
    /* float: left; */
}
.board,.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background:#052844;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}
.board {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}
/* .board{
    display: grid;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(3, 1fr);

} */
.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}
.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.card-front,.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background:#d1e6f8;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background:  #f8fcff;
}
.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}
.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}
.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #d2e4f4;
    transform: rotateY(180deg) rotateZ(50deg);
}
.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #262940;
}
.highlight {
    color: #052844;
}
